
<div class="col-12 md:col-12">
    <h3></h3>
    <p-badge  value="Informations Générales Du Ferméture" size="large" severity="primary"></p-badge>
    <div class="grid justify-content-center align-items-center">
        <div class="col-12 md:col-6">
            <!-- Première colonne -->
            <div class="grid mb-3">
                <div class="col-12">
                    <p><strong>Date:</strong> {{ ladateFormatee }}</p>
                </div>
                <div class="col-12">
                    <p><strong>Structure Dépôt:</strong> {{ fermeture?.structureDepotLibelle }}</p>
                </div>
            </div>

            <!-- Deuxième colonne -->
            <div class="grid">
                <div class="col-12">
                    <p><strong>Structure Destination:</strong> {{ fermeture?.structureDestinationLibelle }}</p>
                </div>
                <div class="col-12">
                    <p><strong>Numero Dépeche:</strong> {{ fermeture?.numeroDepeche }}</p>
                </div>
                <div class="col-12">
                    <p><strong>Nombre de Courrier:</strong> {{ nombreCourriers }}</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-left flex flex-wrap">
<!--            <button pButton type="button" icon="pi pi-check" class="p-button-success mr-2"></button>-->
<!--            <button pButton type="button" icon="pi pi-trash" class="p-button-warning mr-2"></button>-->
            <button pButton type="button" icon="pi pi-print" (click)="cn23()" class="p-button-info">Générer CPL6</button>
        </div>
        <div class="p-toolbar-group-right flex flex-wrap">

            <button pButton type="button" label="Suivi Courrier" icon="pi pi-eye" (click)="openDialog()" class="p-button-warning mr-2"></button>
        </div>
    </p-toolbar>

    <div class="card py-8 px-6 md:px-8 overflow-auto">
    <div class="overflow-x-auto">
        <h3>Liste des Courriers</h3>
        <p-table [value]="listeCourriers" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code Barre</th>
                    <th>Structure Dépôt</th>
                    <th>Structure Destination</th>
                    <th>Type Courrier</th>
                    <th>Poids (g)</th>
                    <th>Expéditeur</th>
                    <th>Destinataire</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-courrier>
                <tr>
                    <td>{{ courrier.codeBarre }}</td>
                    <td>{{ courrier.structureDepotLibelle }}</td>
                    <td>{{ courrier.structureDestinationLibelle }}</td>
                    <td>{{ courrier.typeCourrierLibelle }}</td>
                    <td>{{ courrier.poids }}</td>
                    <td>{{ courrier.expediteurNom }}--{{ courrier.expediteurPrenom }}</td>
                    <td>{{ courrier.destinataireNom }}--{{ courrier.destinatairePrenom }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
</div>



<!--traking courrier-->

<p-dialog
    [(visible)]="trakingDialog"
    header="Suivi Courrier"
    [modal]="true"
    [style]="{width: '450px', borderRadius: '10px'}"
    [closable]="true">
    <div class="card" style="padding: 1.5rem; text-align: center;">
        <h5 style="margin-bottom: 1rem; color: #495057;">Rechercher un courrier</h5>
        <div class="grid" style="gap: 1rem;">
            <div class="col-12">
                <p-inputGroup>
                    <input type="text"
                           pInputText
                           [(ngModel)]="codeBarre"
                           placeholder="Saisir le Code Barre"
                           style="width: 60%;" />

                    <button type="button"
                            pButton
                            label="Recherche"
                            icon="pi pi-arrow-right"
                            class="p-button-primary"
                            (click)="rechercherParCodeBarre()"></button>
                </p-inputGroup>

            </div>
        </div>
    </div>
</p-dialog>

<p-dialog
    header="Détails des suivis"
    [(visible)]="dialogVisible"
    [modal]="true"
    [closable]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{width: '55%', borderRadius: '12px', boxShadow: '0 8px 16px rgba(0, 0, 0, 0.2)'}"
    [contentStyle]="{padding: '1.5rem'}"
    [baseZIndex]="10000">

    <div *ngIf="selectedSuivi && selectedSuivi.length > 0" class="grid">
        <div *ngFor="let suivi of selectedSuivi; let i = index" class="col-12 md:col-4 lg:col-4 suivi-details">
            <p style="font-size: 1rem; margin-bottom: 0.5rem;">
                <strong>Suivi {{ i + 1 }} :</strong>
            </p>
            <p style="font-size: 1rem; margin-bottom: 1rem;">
                <strong>Date :</strong> {{ suivi.createdAt | date: 'dd/MM/yyyy' }}
            </p>
            <p style="font-size: 1rem; margin-bottom: 1rem;">
                <strong>Structure :</strong> {{ suivi.structureLibelle }}
            </p>
            <p style="font-size: 1rem; margin-bottom: 1rem;">
                <strong>Agent :</strong> {{ suivi.userPrenom }}--{{ suivi.userNom }}
            </p>
            <p style="font-size: 1rem; margin-bottom: 1rem;">
                <strong>Status :</strong> {{ suivi.statutCourrierLibelle }}
            </p>
            <hr *ngIf="i < selectedSuivi.length - 1" style="margin: 1rem 0;">
        </div>
    </div>

    <div *ngIf="!selectedSuivi || selectedSuivi.length === 0" class="p-text-center">
        <p>Aucun détail de suivi disponible.</p>
    </div>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Fermer" class="p-button-text" (click)="dialogVisible = false"></button>
    </ng-template>
</p-dialog>
