<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <div>
                <p-toast></p-toast>
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <div class="my-2">
                            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help"
                            (click)="dt.exportCSV()"></button>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="distances" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                    [globalFilterFields]="['libelle', 'description', 'status']" [paginator]="true"
                    [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
                    selectionMode="multiple" [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Gestion des Distances</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                    placeholder="Rechercher..." class="w-full sm:w-auto" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="libelle">Libellé <p-sortIcon field="libelle"></p-sortIcon></th>
                            <th pSortableColumn="maxdistance">Distance Maximale <p-sortIcon
                                    field="maxdistance"></p-sortIcon>
                            </th>
                            <th pSortableColumn="mindistance">Distance Minimale <p-sortIcon
                                    field="mindistance"></p-sortIcon>
                            </th>
                            <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-distance>
                        <tr>
                            <td style="min-width: 10rem;"><span class="p-column-title">Code</span>
                                {{distance.libelle || distance.id}}
                            </td>
                            <td style="min-width: 15rem;">
                                {{distance.maxDistance}}
                            </td>
                            <td style="min-width: 15rem;">
                                {{distance.minDistance}}
                            </td>
                            <td style="width: 5%; min-width: 10rem;">
                                <ng-container *ngIf="distance.active; else nonActive">
                                    <p-tag icon="pi pi-check" severity="success" value="Succès" class="p-element">
                                        <span class="p-tag p-component p-tag-success">
                                            <span class="p-tag-icon pi pi-check ng-star-inserted"></span>
                                            <span class="p-tag-value">Oui</span>
                                        </span>
                                    </p-tag>
                                </ng-container>
                                <ng-template #nonActive>
                                    <p-tag icon="pi pi-times" severity="danger" value="Échec" class="p-element">
                                        <span class="p-tag p-component p-tag-danger">
                                            <span class="p-tag-icon pi pi-times ng-star-inserted"></span>
                                            <span class="p-tag-value">Non</span>
                                        </span>
                                    </p-tag>
                                </ng-template>
                            </td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button p-component p-button-text p-button-icon-only p-button-info mr-2"
                                        (click)="editDistance(distance)"></button>
                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button p-component p-button-text p-button-icon-only p-button-danger"
                                        (click)="deleteDistance(distance)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <p-dialog [(visible)]="distanceDialog" [style]="{width: '450px'}" header="Détails de la Distance"
                [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <form [formGroup]="form" (ngSubmit)="saveDistance()">
                        <div class="field">
                            <label for="name">Libellé</label>
                            <input type="text" pInputText id="name" formControlName="libelle" autofocus />
                        </div>
                        <div class="field">
                            <label for="maxdistance">Distance Maximale</label>
                            <input id="maxdistance" pInputTextarea formControlName="maxdistance" rows="3" cols="20">
                        </div>
                        <div class="field">
                            <label for="mindistance">Distance Minimale</label>
                            <input id="mindistance" pInputTextarea formControlName="mindistance" rows="3" cols="20">
                        </div>
                        <div class="field">
                            <label for="status">Activer</label><br>
                            <p-inputSwitch id="status" formControlName="active"></p-inputSwitch>
                        </div>
                    </form>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text p-button-danger"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Sauvegarder" icon="pi pi-check"
                        class="p-button-text p-button-success" (click)="saveDistance()"
                        [disabled]="form.invalid"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteDistanceDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="distance">Êtes-vous sûr de vouloir supprimer <b>{{distance.libelle}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
                        (click)="deleteDistanceDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text p-button-danger" label="Oui"
                        (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
