<div class="">
    <p-toast></p-toast>
    <div>
        <form [formGroup]="form" (ngSubmit)="saveColis()">
            <div class="p-fluid grid">
                <div class="col-12 md:col-12">
                    <div class="card">
                        <div class="pb-3 surface-border">
                            <span class="text-900 font-medium text-xl">Nouveau Colis</span>
                            <div class="grid formgrid mt-3 mb-1 align-items-center">
                                <div class="col-12 md:col-3">
                                    <div class="field-radiobutton">
                                        <p-radioButton id="ordinaire" formControlName="typeId" name="typeId"
                                            [value]="'1'"></p-radioButton>
                                        <label for="ordinaire">Ordinaire</label>
                                    </div>
                                </div>

                                <div class="col-12 md:col-3">
                                    <div class="field-radiobutton">
                                        <p-radioButton id="valeur-declaree" formControlName="typeId" name="typeId"
                                            [value]="'3'"></p-radioButton>
                                        <label for="valeur-declaree">Valeur Déclaré</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-3">
                                    <div class="flex justify-content-between align-items-center mb-2">
                                        <span class="text-900 font-medium">Total:</span><span class="text-900">{{
                                            totalMontant }} CFA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 lg:col-12">
                    <div class="card">
                        <div class="grid formgrid">
                            <div class="col-12 field">
                                <span class="text-900 text-xl block font-medium mb-1">
                                    Informations Courrier
                                </span>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <p-dropdown [options]="regime$" optionLabel="libelle" optionValue="id" [filter]="true"
                                    filterBy="libelle" formControlName="regimeId" (ngModelChange)="choixRegime()"
                                    [showClear]="true" placeholder="choisir régime">
                                    <ng-template pTemplate="selectedItem" let-selectedOption>
                                        <div class="flex align-items-center gap-2">
                                            <div>
                                                {{ selectedOption.libelle }}
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-structure pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ structure.libelle }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <p-dropdown [options]="pays$" optionLabel="libelle" optionValue="id" [filter]="true"
                                    filterBy="libelle" formControlName="paysDestinationId" [showClear]="true"
                                    placeholder="choisir pays">
                                    <ng-template pTemplate="selectedItem" let-selectedOption>
                                        <div class="flex align-items-center gap-2">
                                            <div>
                                                {{ selectedOption.libelle }}
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-structure pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ structure.libelle }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <p-dropdown [options]="categorie$" optionLabel="libelle" optionValue="id"
                                    [filter]="true" filterBy="libelle" formControlName="categorieId" [showClear]="true"
                                    placeholder="choisir Catégorie">
                                    <ng-template pTemplate="selectedItem" let-selectedOption>
                                        <div class="flex align-items-center gap-2">
                                            <div>
                                                {{ selectedOption.libelle }}
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <span class="p-float-label">
                                    <input type="number" pInputText formControlName="poids" />
                                    <label for="float-input">Poids(Kg)</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 lg:col-6 md:px-1">
                    <div class="card">
                        <div class="grid formgrid">
                            <div class="col-12 field">
                                <span class="text-900 text-xl block font-medium mb-3">
                                    <p-button label="Ajouter Expéditeur" icon="pi pi-user-plus" severity="success"
                                        (click)="openClient()" /></span>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <span class="p-float-label">
                                    <input id="float-input" disabled type="text" value="{{ client.nom }}" pInputText
                                        readonly />
                                    <input style="display: none" formControlName="expediteurId" id="float-input"
                                        type="text" pInputText />
                                    <label for="float-input">Nom complet</label>
                                </span>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <span class="p-float-label">
                                    <input id="float-input" disabled type="text" value="{{ client.telephone }}"
                                        pInputText readonly />
                                    <label for="float-input">Cni</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 lg:col-6 md:px-1">
                    <div class="card">
                        <div class="grid formgrid">
                            <div class="col-12 field">
                                <span class="text-900 text-xl block font-medium mb-3">
                                    <p-button icon="pi pi-user-plus" label="Ajouter Destinataire" severity="success"
                                        (click)="openDestinataire()" /></span>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <span class="p-float-label">
                                    <input id="float-input" disabled type="text" value="{{ destinataire.nom }}"
                                        pInputText readonly />
                                    <input style="display: none" formControlName="destinataireId" id="float-input"
                                        type="text" pInputText />
                                    <label for="float-input">Nom complet</label>
                                </span>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <span class="p-float-label">
                                    <input id="float-input" disabled type="text" value="{{ destinataire.telephone }}"
                                        pInputText readonly />
                                    <label for="float-input">Téléphone</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 lg:col-7 md:px-1">
                    <div class="card">
                        <div class="grid formgrid">
                            <div class="col-12 lg:col-6 field">
                                <span class="p-float-label">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>{{
                                            label
                                            }}</p-inputGroupAddon>
                                        <input formControlName="codeBarre" placeholder="code barre" maxlength="9"
                                            minlength="9" pKeyFilter="num" pInputText />
                                        <p-inputGroupAddon>SN</p-inputGroupAddon>
                                    </p-inputGroup>
                                </span>
                            </div>
                            <div class="col-12 lg:col-6 field">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" (input)="calculateTaxVd()"
                                        formControlName="valeurDeclare" pInputText />
                                    <label for="float-input">Valeur Déclaré</label>
                                </span>
                            </div>
                        </div>

                        <span class="text-900 text-xl block font-medium mb-3">Contenu</span>
                        <div class="grid formgrid">
                            <div class="col-12 lg:col-3 mt-2 field">
                                <span class="p-float-label">
                                    <input id="contenu" pInputText formControlName="contenu" type="text" />
                                    <label for="contenu">Description</label>
                                </span>
                            </div>

                            <div class="col-12 lg:col-2 mt-2 field">
                                <span class="p-float-label">
                                    <input id="quantite" type="number" pInputText formControlName="quantite" />
                                    <label for="quantite">Quantité</label>
                                </span>
                            </div>

                            <div class="col-12 lg:col-2 mt-2 field">
                                <span class="p-float-label">
                                    <input id="valeur" pInputText formControlName="valeur" />
                                    <label for="valeur">Valeur</label>
                                </span>
                            </div>

                            <div class="col-12 lg:col-2 mt-2 field">
                                <span class="p-float-label">
                                    <input id="poidsNet" pInputText formControlName="poidsNet" />
                                    <label for="poidsNet">Poids Colis</label>
                                </span>
                            </div>

                            <div class="col-12 lg:col-3 mt-2 field">
                                <p-button icon="pi pi-plus" severity="info" (click)="addDetail()" />
                            </div>
                            <div class="col-12 lg:col-12 field">
                                <p-table [value]="contenu">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Description</th>
                                            <th>Qté</th>
                                            <th>Valeur</th>
                                            <th>Poids colis</th>
                                            <th>Actions</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-detail let-i="rowIndex">
                                        <tr>
                                            <td>{{ detail.contenu }}</td>
                                            <td>
                                                <div style="display: flex; align-items: center;">
                                                    <p-badge size="large" value="{{ detail.quantite }}"
                                                        severity="success"></p-badge>
                                                </div>
                                            </td>
                                            <td>{{ detail.valeur }}</td>
                                            <td>{{ detail.poidsNet }}</td>
                                            <td>
                                                <button pButton pRipple type="button" (click)="removeDetail(i)"
                                                    icon="pi pi-times"
                                                    class="p-button-rounded p-button-danger p-button-text"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div class="py-2">
                                    <div class="flex justify-content-between align-items-center mb-2">
                                        <input id="valeurTimbre" style="display: none" formControlName="valeurTimbre"
                                            type="number" />
                                        <!-- <span class="text-900 font-medium">Valeur Timbre:</span><span
                                            class="text-900"></span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 md:col-5">
                    <div class="card">
                        <h5>Paiement</h5>
                        <div class="grid formgrid">
                            <div class="col-12 lg:col-8 field mb-4">
                                <p-dropdown [options]="mode$" optionLabel="libelle" formControlName="modePaiementId"
                                    optionValue="id" placeholder="Moyens de paiement" [showClear]="true"></p-dropdown>
                            </div>
                        </div>

                        <div class="pb-3 surface-border">
                            <span class="text-900 font-medium text-xl">Résumé :</span>
                        </div>
                        <div class="py-2">
                            <div class="flex justify-content-between align-items-center mb-2">
                                <span class="text-900 font-medium">Taxe</span><span class="text-900">{{
                                    montant | customCurrency
                                    }}</span>
                            </div>
                            <div class="flex justify-content-between align-items-center mb-2">
                                <span class="text-900 font-medium">Recommandé</span><span
                                    class="text-primary font-bold">{{
                                    fraisRecommande | customCurrency
                                    }}</span>
                            </div>

                            <div class="flex justify-content-between align-items-center mb-2">
                                <span class="text-900 font-medium">AR</span><span class="text-primary font-bold">{{
                                    fraisAr | customCurrency
                                    }}</span>
                            </div>
                            <div class="flex justify-content-between align-items-center mb-2">
                                <span class="text-900 font-medium">Express</span><span class="text-primary font-bold">{{
                                    fraisExpress | customCurrency
                                    }}</span>
                            </div>
                            <div class="flex justify-content-between align-items-center mb-2">
                                <span class="text-900 font-medium">Valeur Déclaré</span><span
                                    class="text-primary font-bold">{{
                                    fraisVd | customCurrency
                                    }}</span>
                            </div>
                            <div class="flex justify-content-between align-items-center mb-2">
                                <span class="text-900 font-bold">Total</span><span class="text-900 font-medium text-xl">
                                    {{ totalMontant | customCurrency }}</span>
                                <input id="totalMontant" formControlName="totalMontant" style="display: none"
                                    type="number" />
                            </div>
                        </div>
<!--                        [disabled]="form.invalid"-->
                        <div class="col-12 flex flex-column lg:flex-row justify-content-end align-items-center">
                            <button pbutton="" pripple=""
                                class="p-element p-button-primary lg:w-auto flex-order-1 p-button p-component" [disabled]="form.invalid"
                             >
                                <span class="p-button-icon p-button-icon-left pi pi-fw pi-check"></span><span
                                    class="p-button-label">Sauvegarder</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<p-dialog [(visible)]="clientDialog" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" header="Ajouter" [modal]="true" class="p-fluid">
    <form [formGroup]="formClient" (ngSubmit)="saveClient()">
        <div class="row">
            <div class="grid formgrid">
                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="telephone" class="font-semibold w-6rem">Téléphone:</label>
                        <input pInputText pKeyFilter="num" id="telephone" (input)="searchClient()"
                            formControlName="telephone" class="flex-auto" autocomplete="off" />
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="codePostal" class="font-semibold w-6rem">code Postal:</label>
                        <input pInputText id="codePostal" formControlName="codePostal" class="flex-auto"
                            autocomplete="off" />
                    </div>
                </div>

                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Nom:</label>
                        <input pInputText id="nom" formControlName="nom" class="flex-auto" autocomplete="off" />
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Prénom:</label>
                        <input pInputText id="prenom" formControlName="prenom" class="flex-auto" autocomplete="off" />
                    </div>
                </div>

                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Adresse:</label>
                        <input pInputText id="adresse" formControlName="adresse" class="flex-auto" autocomplete="off" />
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Email:</label>
                        <input pInputText id="email" formControlName="email" class="flex-auto" autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" (click)="hideDialog()" severity="danger" />
            <p-button (click)="saveClient()" [disabled]="formClient.invalid" label="Valider" severity="success" />
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="destinataireDialog" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" header="Ajouter" [modal]="true" class="p-fluid">
    <h4>Destinataire du pays:</h4>
    <p-table [value]="clients" [paginator]="true" [rows]="5" [tableStyle]="" [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom</th>
                <th>Telephone</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dest>
            <tr>
                <td>{{ dest.nom }} {{ dest.prenom }}</td>
                <td>{{ dest.telephone }}</td>
                <td>
                    <p-button icon="pi pi-check" label="Choisir Destinataire" severity="info"
                        (click)="choisirDestinataire(dest)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
    <hr />
    <form [formGroup]="formDestinataire" (ngSubmit)="saveDestinataire()">
        <div class="row">
            <div class="grid formgrid">
                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Téléphone:</label>
                        <input pInputText pKeyFilter="num" id="telephone" (input)="searchDestinataire()"
                            formControlName="telephone" class="flex-auto" autocomplete="off" />
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="codePostal" class="font-semibold w-6rem">code Postal:</label>
                        <input pInputText id="codePostal" formControlName="codePostal" class="flex-auto"
                            autocomplete="off" />
                    </div>
                </div>

                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Nom:</label>
                        <input pInputText id="nom" formControlName="nom" class="flex-auto" autocomplete="off" />
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Prénom:</label>
                        <input pInputText id="prenom" formControlName="prenom" class="flex-auto" autocomplete="off" />
                    </div>
                </div>

                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Adresse:</label>
                        <input pInputText id="adresse" formControlName="adresse" class="flex-auto" autocomplete="off" />
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-6 lg:mb-3">
                    <div class="flex align-items-center">
                        <label for="cni" class="font-semibold w-6rem">Email:</label>
                        <input pInputText id="email" formControlName="email" class="flex-auto" autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" (click)="hideDialog()" severity="danger" />
            <p-button (click)="saveDestinataire()" [disabled]="formDestinataire.invalid" label="Valider"
                severity="success" />
        </div>
    </form>
</p-dialog>

<div *ngIf="loading" class="loading-message">
    <p>Chargement, veuillez patienter...</p>
</div>
