<style>
    .text-xl{text-align: center; margin-top: 5%;}
    .card{height: 90%;}
    .col-3{width: 21%; margin-left: 3%;margin-top: 1%;}
    .card:hover{cursor: pointer;background-color:rgb(252, 252, 252);
         height: 88%;}
    i{color: rgb(22, 22, 140);}
 </style>
 <div class="grid">
     <div class="col-3 lg:col-3 xl:col-3" *ngIf="isAdmin()" >
         <div class="card">
             <a routerLink="/backoffice">
             <div class="col justify-content-between">
                 <div class="flex align-items-center justify-content-center border-round">
                     <i class="pi pi-home  text-6xl mb-5"></i>
                 </div>
             </div>
             <div class="text-900 font-medium text-xl">Administrateur</div>
         </a>
         </div>
     </div>

     <div class="col-3 lg:col-3 xl:col-3" *ngIf="isReceveur()">
         <div class="card">
            <a routerLink="/receveur">
             <div class="col justify-content-between">
                 <div class="flex align-items-center justify-content-center border-round">
                     <i class="pi pi-envelope text-6xl mb-5"></i>
                 </div>
             </div>
             <div class="text-900 font-medium text-xl">Receveur</div>
            </a>
         </div>

     </div>
     <div class="col-3 lg:col-3 xl:col-3" *ngIf="isResponsableAnnexe()">
         <div class="card">
            <a routerLink="/receveur">
             <div class="col justify-content-between">
                 <div class="flex align-items-center justify-content-center border-round">
                     <i class="pi pi-envelope text-6xl mb-5"></i>
                 </div>
             </div>
             <div class="text-900 font-medium text-xl">RESPONSABLE ANNEXE</div>
            </a>
         </div>

     </div>


     <div class="col-3 lg:col-3 xl:col-3" *ngIf="isGuichet()">
         <div class="card">
            <a routerLink="/guichet">
             <div class="col justify-content-between">
                 <div class="flex align-items-center justify-content-center border-round">
                     <i class="pi pi-credit-card text-6xl mb-5"></i>
                 </div>
             </div>
             <div class="text-900 font-medium text-xl">Guichet</div>
            </a>
         </div>
     </div>

     <div class="col-3 lg:col-3 xl:col-3" *ngIf="isArriere()">
        <div class="card">
           <a routerLink="/arriere">
            <div class="col justify-content-between">
                <div class="flex align-items-center justify-content-center border-round">
                    <i class="pi pi-credit-card text-6xl mb-5"></i>
                </div>
            </div>
            <div class="text-900 font-medium text-xl">Arriére</div>
           </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" *ngIf="isCt()">
        <div class="card">
           <a routerLink="/ct">
            <div class="col justify-content-between">
                <div class="flex align-items-center justify-content-center border-round">
                    <i class="pi pi-credit-card text-6xl mb-5"></i>
                </div>
            </div>
            <div class="text-900 font-medium text-xl">CT</div>
           </a>
        </div>
    </div>
     <div class="col-3 lg:col-3 xl:col-3" *ngIf="ismessagerie()">
         <div class="card">
             <a routerLink="/messagerie">
                 <div class="col justify-content-between">
                     <div class="flex align-items-center justify-content-center border-round">
                         <i class="pi pi-credit-card text-6xl mb-5"></i>
                     </div>
                 </div>
                 <div class="text-900 font-medium text-xl"> DK Messagerie</div>
             </a>
         </div>
     </div>
     <div class="col-3 lg:col-3 xl:col-3" *ngIf="ismessageriePacket()">
         <div class="card">
             <a routerLink="/messageriePacket">
                 <div class="col justify-content-between">
                     <div class="flex align-items-center justify-content-center border-round">
                         <i class="pi pi-credit-card text-6xl mb-5"></i>
                     </div>
                 </div>
                 <div class="text-900 font-medium text-xl"> DK MESSAGERIE PAQUET</div>
             </a>
         </div>
     </div>
    <div class="col-3 lg:col-3 xl:col-3" *ngIf="isDrp()">
        <div class="card">
           <a routerLink="/drp">
            <div class="col justify-content-between">
                <div class="flex align-items-center justify-content-center border-round">
                    <i class="pi pi-credit-card text-6xl mb-5"></i>
                </div>
            </div>
            <div class="text-900 font-medium text-xl">DRP</div>
           </a>
        </div>
    </div>


 </div>

