<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'laposte' : 'laposte'}}.jpeg" alt="logo">
        <span>Courrier</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div class="ms-5 mr-3">
        <span style="font-family: 'Times new Roman', sans-serif; font-size: 18px; color:rgb(10, 116, 19); font-weight: bold; text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.3);">
            {{structureLibelle}}
        </span>
    </div>
    <div class="ms-5">

        <p-badge *ngIf="caisseLibelle" value="{{caisseLibelle}}" size="large" severity="info"></p-badge>
    </div>

    <div #topbarmenu class="layout-topbar-menu flex flex-wrap gap-2" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <i class="pi pi-bell mr-4 p-text-danger" pBadge style="font-size: 2rem" value="2" severity="danger"></i>
        <span class="p-input-icon-right">
            <input type="text" pInputText placeholder="Search"/>
            <i class="pi pi-search"></i>
        </span>
        <p-splitButton label="{{fullname}}" icon="pi pi-user" [model]="items" styleClass="p-text-info"></p-splitButton>

    </div>
</div>
