
<!-- Section Prévisualisation -->
<!-- Section Prévisualisation -->
<div class="col-8">
    <div class="card">
        <h3>Résumé des Données Saisies</h3>
        <div class="grid">
            <div class="col-8 lg:col-6">
                <p><strong>Expéditeur:</strong> {{ Courrier.expediteurNom }} {{ Courrier.expediteurPrenom }}</p>
                <p><strong>CNI Expéditeur:</strong> {{ Courrier.expediteurCni }}</p>
            </div>
            <div class="col-12 lg:col-6">
                <p><strong>Destinataire:</strong> {{ Courrier.destinataireNom }} {{ Courrier.destinatairePrenom }}</p>
                <p><strong>CNI Destinataire:</strong> {{ Courrier.destinataireCni }}</p>
            </div>
            <div class="col-12 lg:col-6">
                <p><strong>Pays d'origine :</strong> {{ Courrier.paysOrigineLibelle }}</p>
                <p><strong>Catégorie:</strong> {{ Courrier.categorieLibelle}}</p>
                <p><strong>Montant:</strong> {{ Courrier.montant }} g</p>
                <p><strong>Frais Suivi:</strong> {{ Courrier.fraisSuivi }} CFA</p>

            </div>
            <div class="col-12 lg:col-6">
                <p><strong>Poids:</strong> {{ Courrier.poids }} g</p>
                <p><strong>Code barre:</strong> {{ Courrier.codeBarre }}</p>
                <p><strong>Taxe Douane:</strong> {{ Courrier.taxeDouane }} CFA</p>
            </div>

        </div>

    </div>

</div>
