    <div class="card p-fluid">
    <form [formGroup]="form">
        <div class="grid">
            <div class="col-12 md:col-6">
                <label for="dateDebut">Du</label>
                <p-calendar formControlName="debut" id="debut" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy">
                </p-calendar>
            </div>
            <div class="col-12 md:col-6">
                <label for="dateFin">Au</label>
                <p-calendar formControlName="fin" id="fin" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy">
                </p-calendar>
            </div>
            <div class="col-12 md:col-6">
                <label for="numenvoi">Numéro d'expédition</label>
                <input formControlName="numenvoi" id="numenvoi" pInputText />
            </div>
            <!-- <div class="col-12 md:col-6">
                <label for="bureauDestination">Bureau Destinataire</label>
                <p-dropdown optionLabel="libelle" [filter]="true" formControlName="bureauDestination" id=" bureauDestination"
                    [options]="structure$" [showClear]="true" placeholder="Choisir un bureau">
                </p-dropdown>
            </div>
            <div class="col-12 md:col-6">
                <label for="bureauExpediteur">Bureau Expéditeur</label>
                <p-dropdown optionLabel="libelle" [filter]="true" formControlName="bureauExpediteur" id=" bureauExpediteur"
                    [options]="structure$" [showClear]="true" placeholder="Choisir un bureau">
                </p-dropdown>
            </div> -->
        </div>
        <div class="p-formgrid flex col-12 justify-content-center">
            <p-button label="Rechercher" icon="pi pi-search" severity="primary" [loading]="loadingExpedition"
                (onClick)="searchExpeditionByCriteres()" class="mr-2">
            </p-button>
            <p-button *ngIf="!form.pristine" label="Effacer" icon="pi pi-times" severity="danger"
                [loading]="loadingReset" (onClick)="resetForm()">
            </p-button>
        </div>
    </form>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card px-4 py-4">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div>
                        <h3 class="text-primary">Rapport JT3 Ecommerce</h3>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton type="button" icon="pi pi-file-pdf" class="p-button-warning mr-2"
                        (click)="generatePdf()" [disabled]="loadingExpedition">PDF</button>
                    <button pButton type="button" icon="pi pi-file-excel" (click)="dt.exportCSV()"
                        [disabled]="loadingExpedition">
                    </button>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="expeditions" styleClass="p-datatable-gridlines"
                [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5"
                [globalFilterFields]="['numenvoi','bureauExpediteurLibelle','bureauDestinationLibelle','createdAt']">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Code</th>
                        <th>Bureau Dépôt</th>
                        <th>Bureau Destination</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-expedition>
                    <tr>
                        <td>{{ expedition.numenvoi }}</td>
                        <td>{{ expedition.bureauExpediteurLibelle }}</td>
                        <td>{{ expedition.bureauDestinationLibelle }}</td>
                        <td>{{ expedition.createdAt | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <a [routerLink]="['/ct/details-expeditionEcom', expedition.id]" pButton type="button"
                                icon="pi pi-download" class="p-button-text p-button-icon-only">
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<div *ngIf="loading" class="loading-message">
    <p>Chargement, veuillez patienter...</p>
</div>
