<div class="col-7">
    <div class="card">
        <div class="col-7 md:col-7">
            <h4>Recherhcer Colis</h4>
            <p-inputGroup>
                <input type="text" pInputText placeholder="Veuillez saisir le numéro du colis"
                    [(ngModel)]="searchCode" />
                <button type="button" pButton label="Rechercher" (click)="rechercherColis()"></button>
            </p-inputGroup>
            <div *ngIf="loading" class="text-center mt-4">
                <div class="spinner-border spinner-border-sm" role="status"></div>
                <span class="sr-only">Chargement...</span>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-dialog [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '40vw' }" [draggable]="false"
    [resizable]="false" [(visible)]="displayDialog" [modal]="true" class="p-fluid"
    [header]="'Colis : ' + (selectedColis?.code || '')">
    <div class="grid formgrid">
        <div class="col-12 lg:col-12 field mb-4">
            <div class="flex align-items-center">
                <label for="montant" class="font-semibold w-12rem">Montant à verser : </label>
                <input pInputText id="montant" class="flex-auto" [value]="selectedColis?.montant | currency" readonly />
            </div>
        </div>
        <div class="col-12 lg:col-12 field mb-4">
            <div class="flex align-items-center">
                <label for="structureId" class="font-semibold w-12rem">Montant versé : </label>
                <input pInputText id="montant"  class="flex-auto" [value]="selectedColis?.montant" readonly />
            </div>
        </div>
        <div class="col-12 lg:col-12 field mb-4">
            <div class="flex align-items-center">
                <label for="verserPar" class="font-semibold w-12rem">Verser Par :</label>
                <input pInputText id="verserPar" class="flex-auto" 
                       [(ngModel)]="selectedVersement.verserPar" />
            </div>
        </div>

        <div class="flex col-3 col-offset-5 justify-content-center">
            <button pButton pRipple label="Verser" (click)="verser()"></button>
        </div>
    </div>
</p-dialog>