 <div class="grid">
    <div class="col-12">
        <div class="card px-4 py-4">
            <p-toast></p-toast>




            <p-table #dt [value]="colis$"   [(selection)]="selectedObjet"    dataKey="id" [rows]="10"
                     [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true"
                     [showCurrentPageReport]="true"
                     [globalFilterFields]="['codeBarre','expediteurPrenom','prenomClient','telephone','bureauDepot','date']"
                     [tableStyle]="{'min-width': '50rem'} " currentPageReportTemplate="Affichage des {first} aux {last}èmes des  {totalRecords} entrées">
                <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h2 class="m-0">Liste des Colis   </h2>

                        <span class="p-input-icon-right " style="float:right">
                        <input
                            pInputText
                            type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Rechercher...."
                        />
                            <i class="pi pi-search"></i>
                        </span>
                </div>
                </ng-template>
                <ng-template pTemplate="header">

                    <tr>
                        <th  *ngIf="!voir">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th  pSortableColumn="codeBarre" >Code<p-sortIcon field="codeBarre" /></th>
                        <th pSortableColumn="expediteurPrenom">Nom du client<p-sortIcon field="expediteurPrenom" /></th>
                        <th pSortableColumn=" prenomClient">Nom Complet destinataire<p-sortIcon field="prenomClient"/> </th>
                        <th pSortableColumn="telephone">Téléphone destinataire<p-sortIcon field="telephone" /></th>
                        <th  pSortableColumn="bureauDepot">Bureau de dépôt<p-sortIcon field="bureauDepot"/> </th>
                        <th  >Taxe Douane</th>
                        <th  >Taxe Présentation</th>
                        <th  >Taxe Magasinage</th>
                        <th  pSortableColumn="date">Date d'envoi<p-sortIcon field="date"/> </th>
                        <th >Type Courrier</th>
                        <th>Status</th>
                        <th>Action</th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-colis>
                    <tr [pSelectableRow]="colis" >
                        <td  *ngIf="!voir">
                            <p-tableCheckbox [value]="colis"></p-tableCheckbox>
                        </td>
                        <td>{{ colis.codeBarre }}</td>
                        <td>{{ colis.expediteurNom }}{{ colis.expediteurPrenom }}</td>
                        <td>{{ colis.destinataireNom }} {{ colis.destinatairePrenom }}</td>
                        <td>{{ colis.destinataireTelephone }}</td>
                        <td>{{ colis.structureDepotLibelle }}</td>
                        <td>
                        <p-badge
                            [value]="colis.taxeDouane | cfa"
                            severity="info"
                            styleClass="p-mr-2">
                        </p-badge>
                    </td>
                        <td>
                            <p-badge
                                [value]="colis.taxePresentation | cfa"
                                severity="info"
                                styleClass="p-mr-2">
                            </p-badge>
                        </td>
                        <td>
                            <p-badge
                                [value]="colis.taxeMagasinage | cfa"
                                severity="info"
                                styleClass="p-mr-2">
                            </p-badge>
                        </td>
                        <td>{{ colis.createdAt }}</td>
                        <td>
                            <p-badge
                                [value]="colis?.typeCourrierLibelle"
                                [severity]="getBadgeSeverity(colis?.typeCourrierLibelle)">
                            </p-badge>
                        </td>

                        <td>
                        <span class=" "
                              [ngClass]="getBadgeClass(colis.statutCourrierLibelle)">
                          {{ colis.statutCourrierLibelle }}
                        </span>
                        </td>
                        <td *ngIf=" voir">
                            <p-button
                            label="Livrer"
                            severity="warning"
                            icon="pi pi-fw pi-truck"
                            (click)="openDialog(colis)"/>
                        </td>


                    </tr>

                </ng-template>

            </p-table>
            <td *ngIf=" !voir">
                <p-button
                    label="Reexpédier"
                    severity="danger"
                    icon="pi pi-times" style="font-size: 1.5rem"
                    (click)="openDialog11(selectedObjet)"/>
            </td>
        </div>
    </div>
</div>
<p-dialog [(visible)]="openCourrierDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="colis">Etes-vous sûr que vous voulez Livrer ce Colis <b>{{colis.code}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" class="p-button-text " label="Oui"
                (click)="confirmReception()"></button>
        <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-danger" label="Non"
                (click)="openCourrierDialog = false"></button>

    </ng-template>
</p-dialog>
<p-dialog [(visible)]="openCourrierReexpedierDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="colis">Etes-vous sûr que vous voulez Reexpédier <b>{{colis.code}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" class="p-button-text " label="Oui"
                (click)="confirmmReception()"></button>
        <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-danger" label="Non"
                (click)="openCourrierDialog = false"></button>

    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="openNumExpDialog"
    [modal]="true"
    [closable]="true"
    [header]="'Livraison Courrier:' + (colis?.codeBarre || '')">
    <div class="p-fluid">
        <div class="field">
            <label for="taxeMagasinage">Taxe Magasinage</label>
            <input
                id="taxeMagasinage"
                type="number"
                pInputText
                [(ngModel)]="colis.taxeMagasinage"
                (ngModelChange)="calculateTotal(colis)"
                (ngModelChange)="validateTaxeMagasinage()">
        </div>
        <div class="field">
            <label for="total">Taxe Douane: </label>
            <span   style="font-weight: bold;">
                {{colis.taxeDouane | cfa}}

             </span>
        </div>
        <div class="field">
            <label for="total">Frais Suivi: </label>
            <span   style="font-weight: bold;">
                {{colis.fraisSuivi | cfa}}

             </span>
        </div>
        <div class="field">
            <label for="total">Taxe Présentation: </label>
            <span   style="font-weight: bold;">
                {{colis.taxePresentation | cfa}}

             </span>
        </div>
        <div class="field">
            <label for="total">Total à Payer:</label>
            <span id="total" style="font-weight: bold;">
              {{ totalpaye| cfa }}
           </span>
        </div>
        <p-button
            label="Livrer"
            icon="pi pi-fw pi-truck"
            (click)="openDialog1(colis)" />
    </div>
</p-dialog>

