<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="partenaires" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['libelle','description','adresse']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestion des Partenaires</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="telephone">Telephone <p-sortIcon field="telephone"></p-sortIcon></th>
                        <th pSortableColumn="adresse">Adresse <p-sortIcon field="adresse"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-partenaire>
                    <tr>

                        <td style=" min-width:10rem;"><span class="p-column-title">Code</span>
                            {{partenaire.nom || partenaire.id}}
                        </td>
                        <td style=" min-width:15rem;">
                            {{partenaire.telephone}}
                        </td>
                        <td style=" min-width:15rem;">
                            {{partenaire.adresse}}
                        </td>
                        <td style="width:5%; min-width: 10rem;">
                            <p-tag icon="pi pi-check" *ngIf="partenaire.active" severity="success" value="non" class="p-element">

                            </p-tag>
                            <p-tag icon="pi pi-times" *ngIf="!partenaire.active" severity="danger" value="oui" class="p-element">

                            </p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pbutton pripple  icon="pi pi-pencil" class=" p-button p-component p-button-text p-button-icon-only p-button-info mr-2"  (click)="editPartenaire(partenaire)"><span class="p-button-icon pi pi-pencil" aria-hidden="true"></span></button>
                                <button pbutton pripple  icon="pi pi-trash" class=" p-button p-component p-button-text p-button-icon-only p-button-danger"  (click)="deletePartenaire(partenaire)"><span class="p-button-icon pi pi-trash" aria-hidden="true"></span></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="partenaireDialog" [style]="{width: '450px'}" header="Partenaire Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="form" (ngSubmit)="savePartenaire()">
                    <div class="field">
                        <label for="nom">Nom</label>
                        <input type="text" pInputText id="nom" formControlName="nom"   autofocus />
                    </div>
                    <div class="field">
                        <label for="adresse">Adresse</label>
                        <textarea id="adresse" pInputTextarea  formControlName="adresse"  rows="3" cols="20"></textarea>
                    </div>
                    <div class="field">
                        <label for="telephone">Telephone</label>
                        <textarea id="telephone" pInputTextarea  formControlName="telephone"  rows="3" cols="20"></textarea>
                    </div>


                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
                <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text p-button-success" (click)="savePartenaire()" [disabled]="form.invalid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePartenaireDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="partenaire">Etes-vous sûr que vous voulez supprimer <b>{{partenaire.nom}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deletePartenaireDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text p-button-danger" label="Oui" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
