<div class="p-fluid grid">
    <div class="col-12 md:col-12">
    <div class="card">
        <p-toolbar>
            <div class="p-toolbar-group-left flex flex-wrap">
                <button pButton type="button" icon="pi pi-check" class="p-button-success mr-2" ></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-warning mr-2"></button>
                <button pButton type="button" icon="pi pi-print" class="p-button-danger" ></button>
            </div>
        </p-toolbar>
    </div>
    </div>
    <!-- Informations générales -->
    <div class="col-12 md:col-12">
      <div class="card">
        <h3>Informations Générales</h3>
        <div class="grid">
          <div class="col-6">
            <p><strong>Code Barre:</strong> {{ courrier?.codeBarre }}</p>
            <p><strong>Structure Dépôt:</strong> {{ courrier?.structureDepotLibelle }}</p>
            <p><strong>Structure Destination:</strong> {{ courrier?.structureDestinationLibelle }}</p>
            <p><strong>Type Courrier:</strong> {{ courrier?.typeCourrierId }}</p>
            <p><strong>Poids:</strong> {{ courrier?.poids }} kg</p>
          </div>
          <div class="col-6">
            <p><strong>Expéditeur:</strong> {{ courrier?.expediteurNom }} {{ courrier?.expediteurPrenom }}</p>
            <p><strong>Destinataire:</strong> {{ courrier?.destinataireNom }} {{ courrier?.destinatairePrenom }}</p>
            <p><strong>Pays Origine:</strong> {{ courrier?.paysOrigineLibelle }}</p>
            <p><strong>Pays Destination:</strong> {{ courrier?.paysDestinationLibelle }}</p>
          </div>
        </div>
      </div>
    </div>



    <!-- Détails des produits -->
    <div class="col-12 md:col-6">
      <div class="card">
        <h3>Détails des Produits</h3>
        <p-table [value]="courrier?.details" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
            <tr>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Prix Unitaire</th>
              <th>Montant</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-detail>
            <tr>
              <td>{{ detail.produitLibelle }}</td>
              <td>{{ detail.quantite }}</td>
              <td>{{ detail.prix | currency }}</td>
              <td>{{ detail.montant | currency }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

     <!-- Résumé des taxes -->
     <div class="col-12 md:col-6">
        <div class="card">
          <h3>Résumé des Taxes</h3>
          <div class="grid">
            <div class="col-6">
              <p><strong>Taxe Douane:</strong> {{ courrier?.taxeDouane | currency }}</p>
            </div>
            <div class="col-6">
              <p><strong>Taxe Présentation:</strong> {{ courrier?.taxePresentation | currency }}</p>
            </div>
            <div class="col-6">
              <p><strong>Montant Total:</strong> {{ (courrier?.montant || 0) + (courrier?.taxeDouane || 0) + (courrier?.taxePresentation || 0) | currency }}</p>
            </div>
          </div>
        </div>
      </div>

  </div>
