<div class="col-12">
    <div class="card">
        <h5>Créer Envoi</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-4">
                <label htmlFor="Nom">Nom expéditeur</label>
                <input pInputText id="Nom" type="text" [(ngModel)]="nomExpediteur" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="Prenom">Prénom expéditeur</label>
                <input pInputText id="Prenom" type="text" [(ngModel)]="prenomExpediteur" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="CNI">CNI expéditeur</label>
                <input pInputText id="CNI" type="text" [(ngModel)]="cniExpediteur" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="Nomd">Nom destinataire</label>
                <input pInputText id="Nomd" type="text" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="Prénomd">Prénom destinataire</label>
                <input pInputText id="Prénomd" type="text" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="Emaild">Email destinataire</label>
                <input pInputText id="Emaild" type="text" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="Adréssed">Adrésse destinataire</label>
                <input pInputText id="Adréssed" type="text" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="Téléphoned">Téléphone destinataire</label>
                <input pInputText id="Téléphoned" type="text" />
            </div>
            <div class="field col-12 md:col-3">
                <label htmlFor="zip">Bureau destination</label>
                <p-autoComplete [(ngModel)]="selectedBureauAdvanced" [suggestions]="filteredBureaux"
                    (completeMethod)="filterBureau($event)" field="name" [dropdown]="true">
                </p-autoComplete><br>
            </div>
            <div class="field col-12 md:col-3">
                <label htmlFor="zip">Poids</label>
                <p-dropdown [options]="dropdownItems" optionLabel="name" placeholder="Choisir poids"></p-dropdown>
            </div>
        </div>
        <h2><i class="pi pi-money-bill" style="font-size: 1,5rem"> Paiement au départ</i></h2>
        <div class="grid formgrid">
            <div class="col-12 md:col-4">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" id="ny"></p-checkbox>
                    <label for="ny">Au guichet</label>
                </div>
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" id="ny"></p-checkbox>
                    <label for="ny">Paiement à la livraison</label>
                </div>
            </div>
        </div>
        <table dir="rtl" style="float: right; margin-top:-123px;">
            <thead>
                <tr>
                    <th>Frais</th>
                    <th>Supp</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <div style="display: flex; flex-wrap: wrap; gap: 2rem;">
            <div style="margin-left: auto;">
                <button pButton pRipple label="Valider"></button>
            </div>
        </div>

    </div>

</div>
