<div class="col-12">
    <div class="card">
        <h5>{{ getTitle() }}</h5>
        <form [formGroup]="form" (ngSubmit)="saveClient()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="CNI">CNI :</label>
                    <input pInputText id="cni" type="text" formControlName="cni" required />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="name">Nom :</label>
                    <input pInputText id="name" type="text" formControlName="nom" required />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Prenom">Prénom :</label>
                    <input pInputText id="prenom" type="text" formControlName="prenom" required />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Adrésse">Adrésse :</label>
                    <input pInputText id="adresse" type="text" formControlName="adresse" required />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Téléphone">Téléphone :</label>
                    <input pInputText id="telephone" type="phone" formControlName="telephone" required />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Mail">Mail :</label>
                    <input pInputText id="email" type="email" formControlName="email" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Mail">Ninea :</label>
                    <input pInputText id="ninea" type="ninea" formControlName="ninea" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Nomstructure">Nom structure :</label>
                    <input pInputText id="nomStructure" type="text" formControlName="nomStructure" required />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Profession">Profession :</label>
                    <input pInputText id="profession" type="text" formControlName="profession" required />
                </div>
                <div class="field col-12">
                    <button *ngIf="!isClientSaved" pButton type="submit" id="enregistrerButton"
                        label="Enregistrer"></button>
                    <button *ngIf="isClientSaved && form.valid" pButton type="button" id="creerEnvoiButton"
                        label="Créer Envoi" (click)="creerEnvoi()"></button>
                </div>
            </div>
        </form>
        <p-toast></p-toast>
    </div>
</div>
