<div class="grid">
  <div class="col-12">
    <div class="card px-4 py-4">
      <p-toast></p-toast>
      <h5>Envoie ecommerce</h5>
      <p-toolbar styleClass="mb-4">
        <div class="p-toolbar-group-left flex flex-wrap">
          <!-- <button pButton type="button" icon="pi pi-check" class="p-button-success mr-2" (click)="livrer()"></button> -->
          <button pButton type="button" icon="pi pi-print mr-2" class="p-button-help"> Imprimer</button>
        </div>
      </p-toolbar>

      <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"
        message="Êtes-vous sûr de vouloir supprimer ces colis ?" [style]="{ width: '350px' }" acceptLabel="Oui"
        rejectLabel="Non" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
      </p-confirmDialog>

      <p-table styleClass="p-datatable-gridlines" [value]="ecommerce$" [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true" [rows]="5" [(selection)]="selectedEcommerceForDeletion" dataKey="id" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <p-tableHeaderCheckbox [selected]="allSelected" (onChange)="selectAll($event)"></p-tableHeaderCheckbox>
            </th>
            <th>Numéro d'envoi</th>
            <th>Nom complet client</th>
            <th>Téléphone</th>
            <th>Destination</th>
            <th>Payer</th>
            <th>Date</th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ecommerce>
          <tr>
            <td>
              <p-tableCheckbox [value]="ecommerce" />
            </td>
            <td>{{ ecommerce.numenvoi }}</td>
            <td>{{ ecommerce.prenomClient }} {{ ecommerce.nomClient }}</td>
            <td>{{ ecommerce.telephoneClient }}</td>
            <td>{{ ecommerce.adresseClient }}</td>
            <td>
              <p-tag *ngIf="ecommerce.payer" icon="pi pi-check" severity="success" value="Oui" class="p-element"></p-tag>
              <p-tag *ngIf="!ecommerce.payer" icon="pi pi-times" severity="danger" value="Non" class="p-element"></p-tag>
            </td>
            <td>
              <button pButton pRipple label="Livrer" (click)="voirEcommerce(ecommerce)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [breakpoints]="{ '1200px': '50vw', '992px': '70vw', '768px': '90vw', '576px': '95vw' }"
  [style]="{ width: '40vw' }" [draggable]="false" [resizable]="false" [(visible)]="displayDialog" [modal]="true"
  class="p-fluid">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between align-items-center w-full">
      <span><strong>Envoie ecommerce :</strong> {{ selectedEcommerce?.code }}</span>
    </div>
  </ng-template>

  <p-tag *ngIf="selectedEcommerce?.payer" severity="success" value="Payer : Oui" icon="pi pi-check"></p-tag>
  <p-tag *ngIf="!selectedEcommerce?.payer" severity="danger" value="Payer : Non" icon="pi pi-times"></p-tag>

  <div class="grid formgrid">
    <div class="col-12 field mb-4">
      <div class="flex align-items-center">
        <label for="montantVerse" class="font-semibold w-14rem">Taxe Transport :</label>
        <input pInputText id="montantVerse" class="flex-auto" [value]="selectedEcommerce?.taxetransp" readonly />
      </div>
    </div>
    <div class="col-12 field mb-4">
      <div class="flex align-items-center">
        <label for="verserPar" class="font-semibold w-14rem">Taxe Livraison :</label>
        <input pInputText id="verserPar" class="flex-auto"  [value]="selectedEcommerce?.taxeLivraison"  readonly />
      </div>
    </div>
    <div class="col-12 field mb-4">
      <div class="flex align-items-center">
        <label for="montantTotal" class="font-semibold w-14rem">Montant Total :</label>
        <input pInputText id="montantTotal" class="flex-auto" [value]="montantTotal" readonly />
      </div>
    </div>
  </div>

  <div class="col-12 flex justify-content-center mt-3">
    <button pButton pRipple label="Livrer" class="p-button-success w-full md:w-auto" (click)="livrer()"></button>
  </div>
</p-dialog>


<p-dialog [(visible)]="isModalOpen" [breakpoints]="{ '600px': '75vw', '575px': '90vw' }" [style]="{ width: '30vw' }"
  [draggable]="false" [resizable]="false" header="Tracking: " [modal]="true" class="p-fluid">
  <div class="col-12 md:col-12">
    <div class="">
      <p-timeline [value]="events1">
        <ng-template pTemplate="content" let-event>
          <small class="p-text-secondary">{{ event }}</small>
        </ng-template>
      </p-timeline>
    </div>
  </div>
</p-dialog>
