<div class="card p-fluid">
    <form [formGroup]="form">
        <div class="grid flex justify-content-center align-items-center">
            <div class="col-3 md:col-5">
                <label for="dateDebut">Du</label>
                <p-calendar formControlName="debut" id="dateDebut" [showIcon]="true" inputId="icon" />
            </div>
            <div class="col-3 md:col-5">
                <label for="dateFin">Au</label>
                <p-calendar formControlName="fin" id="dateFin" [showIcon]="true" inputId="icon" />
            </div>
            <div class="col-3 md:col-5">
                <p-dropdown optionLabel="libelle" [filter]="true" filterBy="libelle" optionValue="id"
                    ormControlName="structureDepotId" optionValue="id" placeholder="Bureau de dépôt"
                    [options]="structure$" [showClear]="true">
                </p-dropdown>
            </div>

            <div class="col-3 md:col-5">
                <p-dropdown optionLabel="libelle" [filter]="true" filterBy="libelle" optionValue="id"
                    formControlName="structureDestinationId" optionValue="id" placeholder="Bureau Destinataire"
                    [options]="structure$" [showClear]="true">
                </p-dropdown>
            </div>

            <div class="col-12 md:col-5">
                <p-dropdown formControlName="typeCourrierId" id="typeCourrierId" [filter]="true" filterBy="libelle"
                    [options]="typeCourrier$" placeholder="choisissez un Type" optionLabel="libelle"
                    optionValue="id"></p-dropdown>
            </div>
            <div class="col-12 md:col-5">
                <p-dropdown formControlName="statutCourrierId" id="statutCourrierId" [filter]="true" filterBy="libelle"
                    [options]="statutCourrier$" placeholder="choisissez un status" optionLabel="libelle"
                    optionValue="id"></p-dropdown>
            </div>
        </div>
        <div class="p-formgrid flex col-6 col-offset-3 justify-content-center">
            <p-button label="Rechercher" icon="pi pi-search" severity="primary" [loading]="loadingcourrier"
                (onClick)="searchcourrierByCriteres()" />
            <p-button *ngIf="isEmpty()" label="effacer" icon="pi pi-times" severity="danger" [loading]="loadingReset"
                (onClick)="resetForm()" />
        </div>
    </form>
</div>
<div class="grid">
    <div class="col-12">
        <div class="col-12">
            <div class="card px-4 py-4">
                <p-toast></p-toast>
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <div class="my-2">
                            <ul class="list-none p-0 m-0 w-full">
                                <li class="mb-1">
                                    <span class="font-medium text-900">
                                        Bureau: {{ fullname }}</span>
                                </li>
                                <li class="flex justify-content-between mb-1">
                                    <span class="text-900">Responsable:</span><span
                                        class="text-900 font-medium text-lg font-bold">{{ courrierByCriteres?.length
                                        }}</span>
                                </li>
                                <li class="flex justify-content-between mb-1">
                                    <span class="text-900">Période:</span>
                                    <span class="text-900 font-medium text-lg font-bold">{{ date | date:'dd/MM/yyyy'
                                        }}</span>
                                </li>

                            </ul>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <button pButton type="button" icon="pi pi-file-pdf" class="p-button-warning mr-2"
                            (click)="generatePdf()" [disabled]="loadingcourrier"></button>
                        <button pButton type="button" icon="pi pi-file-excel" (click)="dt.exportCSV()"
                            [disabled]="loadingcourrier"></button>
                    </ng-template>
                </p-toolbar>
                <p-table #dt [value]="courrier$" styleClass="p-datatable-gridlines"
                    [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]=5
                    [globalFilterFields]="['code','prenomDestinataire','nomDestinataire','montant','createdAt']">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Code</th>
                            <th>Expéditeur</th>
                            <th>Destinataire</th>
                            <th>Destination</th>
                            <th>Type Courrier</th>
                            <th>Statut Courrier</th>
                            <th>Montant</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-courrier>
                        <tr>
                            <td>{{ courrier.codeBarre }}</td>
                            <td>{{ courrier. expediteurPrenom }} {{courrier.expediteurNom}}</td>
                            <td>{{ courrier.destinatairePrenom }} {{ courrier.destinataireNom }}</td>
                            <td>{{ courrier.structureDestinationLibelle }}</td>
                            <td>{{courrier.typeCourrierLibelle}}</td>
                            <td>{{courrier.statutCourrierLibelle}}</td>
                            <td>{{ courrier.montant }}</td>
                            <td>{{ courrier.createdAt }}</td>
                            <td>
                                <a [routerLink]="['/dro/courrier-details/', courrier.id]" pButton="" type="button"
                                    icon="pi pi-download"
                                    class="p-element p-button-text p-button p-component p-button-icon-only"><span
                                        class="p-button-icon pi pi-download" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>